.fintecture-payment{
    display: inline-block;
}
.fintecture-payment h1 i {
    color: #333f51;
    font-style: normal;
}

.fintecture-payment h1 {
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 2.6em;
    color: #19b5bc;
    font-family: sans-serif;
    font-weight: bolder;

}
.fintecture-payment-title{
    font-size: 14px;
    display: inline-block;
}


.apsp-getstarted { display:inline-block; padding:1em 0em; }
.apsp-or { display:inline-block; }
#checkout_https_required, #checkout_reload { color:red; display:none; }
#json-import-wrapper { display:none; }
#checkout_simplepath_back { display:none; margin-bottom:1em; margin-top:-0.5em; }
#checkout_simplepath td.creds { width:10%; }
.section-config.with-button.checkout-payment-section .config-heading strong { font-weight: normal; }
.checkout-settings.checkout-payment-section .button-container { float:right; }
.checkout-settings.checkout-payment-section .checkout-payment-byline { display: inline-block; vertical-align: middle; width: 50%; }
.simplepath-wrapper-set.active .admin__collapsible-block { display:none; }
.checkout-payment-section.section-config.active > .admin__collapsible-block + input + fieldset { margin-left: 40px; }


.config-heading.fintecture_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.config-heading.fintecture_section img {
    width: 100px;
}

#row_payment_us_fintecture_general_custom_file_upload_sandbox > td.value > div,
#payment_us_fintecture_general_custom_file_upload_sandbox_delete,
#row_payment_us_fintecture_general_custom_file_upload_sandbox > td.value > div > label {
    display:none;
}
