<?php $controller = $block->getCustomUrl();

$storeScope = $block->storeScope;

$fintecture_app_id_sandbox = $block->scopeConfig->getValue('payment/fintecture/fintecture_app_id_sandbox',$storeScope);
$fintecture_app_id_production = $block->scopeConfig->getValue('payment/fintecture/fintecture_app_id_production',$storeScope);
$fintecture_app_secret_sandbox = $block->scopeConfig->getValue('payment/fintecture/fintecture_app_secret_sandbox',$storeScope);
$fintecture_app_secret_production = $block->scopeConfig->getValue('payment/fintecture/fintecture_app_secret_production',$storeScope);
$init_message = __("Save config before testing connection");
$title = __("Pay with Instant Transfer");
$success_message = $block->getSuccessResponse();
$fail_message = $block->getFailureResponse();

echo $block->getButtonHtml();
?>
	<div id="connect-message"><?php echo $init_message ?></div>

<script>
require([
	'jquery',
	'prototype'
], function(jQuery){
	var title = "<?= $title ?>";
	jQuery('#payment_us_fintecture_general_title').val(title);
	jQuery('#row_payment_us_fintecture > td > div > div > div > div.fintecture_title > b').html(title);
	jQuery('#payment_fr_fintecture_general_title').val(title);
	jQuery('#row_payment_fr_fintecture > td > div > div > div > div.fintecture_title > b').html(title);

	var collectSpan = jQuery('#collect_span');

        function validateRequired(sec,id) {
		console.log(sec);
		console.log(id);
		console.log(jQuery('#row_payment_us_fintecture_general_custom_file_upload_sandbox > td.value > div').text());
        }

	jQuery('#btn_id').click(function () {
		var envType= jQuery('#payment_fr_fintecture_general_environment').val();
		
		if(envType=='production'){
			var fintecture_connect_url=jQuery('#payment_fr_fintecture_general_fintecture_connect_url_production').val();
			var fintecture_oauth_url=jQuery('#payment_fr_fintecture_general_fintecture_oauth_url_production').val();
			var fintecture_pis_url=jQuery('#payment_fr_fintecture_general_fintecture_pis_url_production').val();
			var fintecture_app_secret="<?php echo $fintecture_app_secret_production; ?>";
			var fintecture_app_id="<?php echo $fintecture_app_id_production; ?>";
			//var fintecture_app_id=jQuery('#payment_fr_fintecture_general_fintecture_app_id_production').val();

		}else{
			var fintecture_connect_url=jQuery('#payment_fr_fintecture_general_fintecture_connect_url_sandbox').val();
			var fintecture_oauth_url=jQuery('#payment_fr_fintecture_general_fintecture_oauth_url_sandbox').val();
			var fintecture_pis_url=jQuery('#payment_fr_fintecture_general_fintecture_pis_url_sandbox').val();
			var fintecture_app_secret="<?php echo $fintecture_app_secret_sandbox; ?>";
			var fintecture_app_id="<?php echo $fintecture_app_id_sandbox; ?>";
			//var fintecture_app_id=jQuery('#payment_fr_fintecture_general_fintecture_app_id_sandbox').val();

		}
		
		validateRequired(fintecture_app_secret,fintecture_app_id);
		jQuery('#connect-message').html('');

		var customurl="<?php echo $controller ?>";

		jQuery.ajax({
		url: customurl,
			type: 'POST',
			dataType: 'json',
			data: {
			fintecture_connect_url: fintecture_connect_url,
			fintecture_oauth_url: fintecture_oauth_url,
			fintecture_pis_url: fintecture_pis_url,
			fintecture_app_secret: fintecture_app_secret,
			fintecture_app_id: fintecture_app_id,

		},
			success: function(response, textStatus, xhr) {             
				var json_obj = jQuery.parseJSON(response)
					
				if(json_obj.access_token){
					jQuery('#connect-message').html("<?php echo $success_message ?>");
				} else {
					jQuery('#connect-message').html("<?php echo $fail_message ?>");
				}
			}

		});
	});
});
</script>

