   .checkout_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
margin-bottom:20px;
}
ul.checkout_list {
    list-style: none;
padding:0px;
  color: #676767;
    font-size: 15px;
margin-bottom:20px;
}
.chekcout_icon_img img {
height: 51px;
}
ul.checkout_list li {
    display: flex;
    align-items: center;
}
ul.checkout_list li img {
    width: 20px;
    height: 20px;
padding-right:12px;
}
.chekout_block p {
    color: #676767;
    font-size: 15px;
}
p.p_blok {
    display: flex;
}

.chekout_block {
    padding-left: 30px;
}
.chekcout_icon_img.line {
    display: flex;
}
.chekout_icon_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 94px;
}
p.c_para-1 {
    margin-bottom: 20px;
}
p.c_para-2 {
    margin-bottom: 20px;
}
.arrow_line {
    width: 25px;
    margin-top: -44px !important;
}
.line img {
    height: auto;
    width: 100%;
}
.straigh_line {
    margin-top: -29px;
}
.term_cond {
    margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
.checkout_icont_des p{
  text-align: left;
}
.line {
display: none !important;
}
.hideit {
display: none !important;
}
.checkout_icon {
flex-direction: column;
text-align: left;
align-items: flex-start;
}

.chekout_icon_block {
flex-direction: row;
justify-content: space-between;
width: 100%;
margin: 2px 0;

padding: 5px 0;
}
.chekcout_icon_img img {
width: 30px;
height: 30px;
}
.checkout_icont_des {
width: 100%;
text-align: center;
}
.chekcout_icon_img {
width: 25%;
}
.chekout_block {
padding-left: 32px !important;
}
.chekout_block p {
font-size: 13px !important;
}
ul.checkout_list {
font-size: 13px !important;
}
.term_cond {
font-size: 13px !important;
line-height: 22px;
}
}
@media only screen and (max-width: 600px) {
.checkout_icont_des p span.check_no {
    display: none;
}

.c_para-2{
    display: none;
}
.checkout_list{
    display: none;
}
p.c_para-1 img {
    width: 80px;
    top: 11px;
}
}

p.c_para-1 img {
    width: 110px;
    height: auto;
    position: relative;
    top: 16px;
    left: 5px;
}

